.recomend{
    flex: 0.8;
    background: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}
.recomend h2{
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}
.recomended_videos{
    display: flex;
    flex-wrap: wrap;
}